<div class="vh-100">
  <router-outlet></router-outlet>
  <div class="row w-100 m-auto h-100" *ngIf="patient">
    <div class="col-lg-6 p-3 h-100 overflow-auto">
      @if (loadingPatientData) {
        <p *ngIf="loadingPatientData">
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span> Loading patient data...
        </p>
      } @else {
        <div class="card mb-2">
          <div class="card-header fw-bold bg-primary text-light">Patient</div>
          <div class="card-body list-group list-group-flush p-0">
            <div class="list-group-item"><b>Name:</b> {{patient?.name?.at(0)?.family}}, {{patient?.name?.at(0)?.given}}</div>
            <div class="list-group-item"><b>Age:</b> {{age}}</div>
            <div class="list-group-item"><b>Gender:</b> {{patient?.gender}}</div>
          </div>
        </div>
        <lib-cds-panels [conceptDefinitions]="conceptDefinitions"></lib-cds-panels>
        <div style="text-align: right">
          <button class="btn btn-danger m-2" style="float: left; min-width: 10em" (click)="logout()">Change Patient</button>
          <button class="btn btn-danger m-2" style="min-width: 10em" (click)="reset()">Reset</button>
          <button class="btn btn-primary m-2" style="min-width: 10em">Save</button>
        </div>
      }
    </div>
    <div class="col-lg-6 p-3 h-100 overflow-auto">
      <div class="card" *ngIf="!loadingPatientData">
        <div class="card-header fw-bold bg-primary text-light">SCORE-2</div>
        <div class="card-body">
          @if (error) {
            <div class="alert alert-danger">{{error}}</div>
          } @else if (scoreTable) {
            <p class="alert alert-primary">{{summary}}: {{score}}%</p>
            <div class="text-center">
              <table *ngIf="scoreTable?.length" class="score2-table d-inline-block">
                <tbody>
                  @for (scores of scoreTable; let i = $index; track i) {
                    <tr>
                      @for (score of scores; let j = $index; track j) {
                        <td class="score" [ngClass]="{ selected: indices && (i === indices[0]) && (j === indices[1]) }" [class]="getDangerClass(score)">{{score}}</td>
                      }
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
