<div class="vh-100">
  <div class="row w-100 m-auto h-100">
    <div class="col-4 p-3 bg-light h-100 overflow-auto" *ngIf="patient">
      <!--      <div class="fw-bold mb-1 text-center">QRISK3 Calculator</div>-->
      <!--      <div class="card">-->
      <!--        <div class="card-header text-center fw-bold">QRISK3 Calculator</div>-->
      <!--      </div>-->
      <div class="card mt-2">
        <div class="card-header fw-bold bg-primary text-light">Patient</div>
        <div class="card-body list-group list-group-flush p-0">
          <div class="list-group-item"><b>Name:</b> {{patient?.name?.at(0)?.family}}, {{patient?.name?.at(0)?.given}}</div>
          <div class="list-group-item"><b>Age:</b> {{age}}</div>
          <div class="list-group-item"><b>Gender:</b> {{patient?.gender}}</div>
        </div>
      </div>
      <button class="btn btn-danger w-100 mt-2" (click)="logout()">Change Patient</button>
    </div>
    <div class="col p-3 h-100 overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
